[submodule "tools/moses-scripts"]
	path = tools/moses-scripts
	url = https://github.com/marian-nmt/moses-scripts.git
[submodule "OPUS-MT-testsets"]
	path = OPUS-MT-testsets
	url = ../OPUS-MT-testsets.git
[submodule "build"]
	path = build
	url = ../OPUS-MT-leaderboard-recipes
